{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="d-flex">
      <div class="sidebar">
        {% include 'sidebar_filter.html' %}
      </div>

      <div class="main-content flex-grow-1">
        <h1>Financial Assistance List</h1>

        <div class="d-flex justify-content-end">
          <a href="{% url 'add_financial_assistance' %}" class="btn btn-secondary">Add Applicant</a>
        </div>

        <br/>
        {% if financial_assistance_data %}
          <table class="table table-light table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Control Number</th>
                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Course</th>
                <th scope="col">Requirements</th>
              </tr>
            </thead>
      
            <tbody>
              {% for financial_assistance_record in financial_assistance_data %}
                <tr>
                  <td>{{ financial_assistance_record.control_number }}</td>
                  <td>{{ financial_assistance_record.first_name }} {{ financial_assistance_record.last_name }}</td>
                  <td>{{ financial_assistance_record.school }}</td>
                  <td>{{ financial_assistance_record.course }}</td>
                  <td>{{ financial_assistance_record.requirements }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="d-flex justify-content-center">
            <h1>No financial assistance records found.</h1>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
