{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}

    <h1>Applicant List</h1>


    <div class="d-flex justify-content-end">
      <a href = "{% url 'add_record' %}" class="btn btn-secondary">Add Record</a>
      <a href="{% url 'export' %}" class="btn btn-secondary" data-toggle="modal" data-target="#exportModal">Export Table</a>
      <a href="{% url 'import' %}" class="btn btn-secondary" data-toggle="modal" data-target="#exportModal">Import Table</a>
    </div>
   

   
        <br/>   
        <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Control Number</th>
                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Course</th>
                <th scope="col">Status</th>
            
            </tr>
        </thead>
        <tbody>

        {% if StudentRecords %} 
            {% for student_record in StudentRecords %}
            <tr>
                <td><a href = "{% url 'student_info' student_record.id  %}">{{ student_record.control_number }}</a></td>
                <td>{{ student_record }}</td>
                <td>{{ student_record.school }}</td>
                <td>{{ student_record.course }}</td>
                <td>{{ student_record.status }}
                </td>
            </tr>
            {% endfor %}    

        </tbody>
        </table>

      {% else %}
      <p>No student records found.</p>
      {% endif %}

    </div>

  {% endif %}

{% endblock %}
