{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}
    <div class="d-flex">
      <div class="sidebar">
        {% include 'sidebar_filter.html' %}
      </div>

      <div class="main-content flex-grow-1">
        <h1>Applicant List</h1>
        
        <div class="d-flex justify-content-end">
          <a href="{% url 'add_record' %}" class="btn btn-secondary">Add Record</a>
          <a href="{% url 'export' %}" class="btn btn-secondary" data-toggle="modal" data-target="#exportModal">Export Table</a>
          <a href="{% url 'import' %}" class="btn btn-secondary" data-toggle="modal" data-target="#exportModal">Import Table</a>
        </div>

        {% if StudentRecords %} 
          <br/>   
          <table class="table table-light table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Control Number</th>
                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Course</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for student_record in StudentRecords %}
                <tr>
                  <td><a href="{% url 'student_info' student_record.id %}">{{ student_record.control_number }}</a></td>
                  <td>{{ student_record }}</td>
                  <td>{{ student_record.school }}</td>
                  <td>{{ student_record.course }}</td>
                  <td>{{ student_record.status }}</td>
                </tr>
              {% endfor %}    
            </tbody>
          </table>
        {% else %}
          <div class="d-flex justify-content-center">
            <h1>No student records found.</h1>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}
