{% extends 'base.html' %}

{% block content %}

<h1>Student Records</h1>

<div class="card">
    <div class="card-header text-center align-middle">
        Personal Data
    </div>
    <div class = "card-body">
        <p class ="card-text">
        {{ StudentRecords.id }}<br/>
        <!-- personal data -->
        <p>Name : {{ StudentRecords }} </p>
    
        <p>Address : {{ StudentRecords.address }} </p>

        <p>Gender : {{ StudentRecords.gender }}</p>
        <p>Date of Birth : {{ StudentRecords.date_of_birth }}</p>
        <p>Place of Birth : {{ StudentRecords.place_of_birth }}</p>
        <p>Contact No : {{ StudentRecords.contact_no }}</p>
        
        <p>Email Address : {{ StudentRecords.email_address }}</p>
        <p>School : {{ StudentRecords.school }}</p>

        <p>Course : {{ StudentRecords.course }}</p>
        <p>General Weighted Average : {{ StudentRecords.gwa }}</p>
        <p>Rank : {{ StudentRecords.rank }}</p>

        <p>Junior High School : {{ StudentRecords.jhs }}</p>
        <p>Junior High School Address : {{ StudentRecords.jhs_address }}</p>
        <p>Educational Provider : {{ StudentRecords.jhs_educational_provider }}</p>

        <p>Senior High School : {{ StudentRecords.shs }}<br/>
        <p>Senior High School Address: {{ StudentRecords.shs_address }}<br/>
        <p>Educational Provider : {{ StudentRecords.shs_educational_provider }}<br/>

        </p>
    </div>

    <div class="card-header text-center align-middle">
        Family Data
    </div>

    <div class = "card-body">
        <p>
            <!-- family data -->
            <p>Voter Status : {{ StudentRecords.father_voter_status }}</p>
            <p>Father Name : {{ StudentRecords.father_name }}</p>
            <p>Educational Attainment : {{ StudentRecords.father_educational_attainment }}</p>
            <p>Occupation : {{ StudentRecords.father_occupation }}</p>
            <p>Employer Name : {{ StudentRecords.father_employer }}</p>

            <p>Voter Status : {{ StudentRecords.mother_voter_status }}</p>
            <p>Mother Name : {{ StudentRecords.mother_name }}</p>
            <p>Educational Attainment : {{ StudentRecords.mother_educational_attainment }}</p>
            <p>Occupation : {{ StudentRecords.mother_occupation }}</p>
            <p>Employer Name : {{ StudentRecords.mother_employer }}</p>

            <p>Voter Status : {{ StudentRecords.guardian_voter_status }}</p>
            <p>Guardian Name : {{ StudentRecords.guardian_name }}</p>
            <p>Educational Attainment : {{ StudentRecords.guardian_educational_attainment }}</p>
            <p>Occupation : {{ StudentRecords.guardian_occupation }}</p>
            <p>Employer Name : {{ StudentRecords.guardian_employer }}</p>
        </p>
    </div>

  </div>

<br/> <br/>
<a href = "{% url 'applicant_list' %}" class="btn btn-secondary">Back</a>
<a href = "{% url 'update_record' StudentRecords.id  %}" class="btn btn-secondary">Update Record</a>
<a href = "{% url 'delete_record' StudentRecords.id  %}" class="btn btn-danger">Delete Record</a>



{% endblock %}