{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Not the Final Dashboard (Charts)</h1>
    
    <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
      <p>Total Applicants: {{ count }}</p>
    </div>

    <div class="d-flex justify-content-center">
      <canvas id="schoolPieChart" width="600" height="600" style="margin: auto;"></canvas>
    </div>

    <a href="{% url 'inb_applicant_list' %}" class="btn btn-secondary">View Table</a>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      
      var labels = {{ labels|safe }};
      var data = {{ data|safe }};
      var totalStudentsPerSchool = {{ students_per_school|safe }};
      var backgroundColor = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)',
        'rgba(255, 0, 0, 1)',
        'rgba(0, 255, 0, 1)',
        'rgba(0, 0, 255, 1)',
      ]; 
          
      var ctx = document.getElementById('schoolPieChart').getContext('2d');
      var pieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            data: data,
            backgroundColor: backgroundColor,
          }],
        },
        options: {
            cutout: 0,
            plugins: {
              legend: {
                display: false,
              },
              tooltip: {
                callbacks: {
                  label: function (context) {
                    var label = context.label || '';
                    var percentage = context.formattedValue || '';
                    var school = label;
                    var studentCount = totalStudentsPerSchool[school];
                    
                    return [
                      'Percentage: ' + percentage + '%',
                      'Number of Students: ' + studentCount
                    ];
                  },
                },
              },
            },
          },
      });
    </script>
  {% endif %}
{% endblock %}
